a {
    all: unset;
    cursor: pointer;
}

.underline {
    text-decoration: underline;
    position: relative;
    display: inline-block;
}

// Sidebar resource sizing
.videoInsert {
    width: 100%;
    height: 100%;
    object-fit: contain;
    display: inline-block;
}

// Spacing for left and right sections
header {
    width: 25vw !important;
}
section {
    width: 60vw !important;
    margin-right: 1vw !important;
}

.wrapper {
    width: unset !important;
}